<%= render "curation_concerns/shared/item_header" %>

<div class="col-md-12 tdl-content tdl-show-image">
  <div class="row col-md-6">
    <video controls="controls" preload="metadata" width="445px" height="390px">
      <source src="<%= Rails.application.routes.url_helpers.download_path(@presenter.member_presenters[0]) %>" type="video/mp4">
    </video>
  </div>
  <div class="col-md-6">
    <%= render "curation_concerns/shared/metadata" %>
  </div>
</div>
