<% if @downloadable %>
  <div class="pull-right tdl-search-widgets download-links">
    <ul>
      <li>
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        <a href="">Add to List</a>
      </li>
      <li>
        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
        <a href="">Download low-resolution image</a>
      </li>
  </div>
<% end %>
