<% if @downloadable %>
  <% file_set = @presenter.solr_document._source["hasRelatedImage_ssim"] %>
  <% img = Riiif::Engine.routes.url_helpers.image_path(file_set, "full") %>
  <div class="tdl-search-widgets">
    <ul class="tdl-right-nav">
      <li>
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        <a href="">Add to List</a>
      </li>
      <li>
        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
        <a href="<%= img %>" target="_blank")>Download low-resolution image</a>
      </li>
  </div>
<% end %>
