      <div class="pull-left tdl-search-widgets">
        <span class="glyphicon glyphicon-arrow-left glyph-left" aria-hidden="true"></span>
        <% if controller.action_name == 'audio_transcriptonly'%>
          <a href="<%= audio_page_path(params[:id]) %>">Back to Audio Player</a>
        <% elsif controller.action_name == 'video_transcriptonly' %>
          <a href="<%= video_page_path(params[:id]) %>">Back to Video Player</a>
        <% end %>
      </div>
