<% provide :page_title, @presenter.page_title %>
<% provide :page_header do %>
  <h2> <%= @presenter %> </h2>
  <%= render partial: "curation_concerns/shared/multi_field", locals: {tag_name: :p, field_name: :creator} %>
  <%= render partial: "curation_concerns/shared/multi_field", locals: {tag_name: :p, field_name: :date_created} %>
<% end %>
<% collector = can?(:collect, @presenter.id) %>
<% editor = can?(:edit, @presenter.id) %>
<div class="row tdl-content">
  <div class="col-md-6">
    <div><%= image_tag('elections/elections.png', alt: 'elections splash image', class: 'election-splash') %></div>
  </div>
  <div class="col-md-6">
    <div class="tooltip-demo well ">

    </div>
  </div>
</div>
