<pre><%= @presenter.solr_document.inspect %></pre>
<%= render "curation_concerns/shared/item_header" %>
<% collector = can?(:collect, @presenter.id) %>
<% editor = can?(:edit, @presenter.id) %>
<div class="row tdl-content">
  <div class="col-md-6">
    <div><%= image_tag('elections/elections.png', alt: 'elections splash image', class: 'election-splash') %></div>
  </div>
  <div class="col-md-6">
    <%= render "curation_concerns/shared/metadata" %>
  </div>
</div>
