    <div class="row">
      <div class="span12">
        <h2>Your Finding Aid overview should be right here.</h2>
      </div>
    </div>

    <hr>
    
    Here's a link to a <a href="<%= show_finding_aid_link(@id + "/" + "foobar") %>">series page</a>.