/* Travis will delete this file after a while, if nobody misses these styles */

/* ------------ From tufts.scss ------------ */

.box {
  padding: 15px;
  border-color: #ddd;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  box-shadow: none;
  margin-bottom: 45px;
}

.attachments {
  form {
    margin-bottom: 30px;

    .file {
      display: inline-block;
    }
  }
}

/* ------------------------
 *  FORMS
 * ------------------------ */

form.button_to {
  display: inline;

  > div {
    display: inline;
  }

}

input.input-large {
  width: 365px;
}

#error_explanation {
  border: 3px solid $error_color;
  background-color: #eee;
  padding: 0.5em 1em 1em 1em;
  margin-bottom: 1em;
}

.hint {
  color: $hint_color;
  font-weight: normal;
}



/* ------------ From catalog.scss ------------ */

#check_all {
  margin-right: 5px;
}

#selected_documents_count {
  border-bottom: 1px dotted #CCCCCC;
  padding: 0.5em 0 0.5em 2em;

  /* Reserve space so that the page won't rearrange when the javascript adds the content to that div */
  min-height: 20px;
}

.documentHeader {

  .document-checkbox {
    margin-right: 5px;
    input[type="checkbox"] {
      margin: 0;
    }
  }

  .index-document-functions {
    text-align: right;

    .workflow-status {
      margin-right: 2px;
    }
  }
}

.workflow-status {
  @extend .label;
  &.edited {
    @extend .label-warning;
  }
  &.unpublished {
    @extend .label-info;
  }
  &.published {
    @extend .label-success;
  }
}

.drop-target-hover {
  background-color: lightgray;
}


.exportButtonWrapper {
  ul.dropdown-menu {
    width: 15em;
    margin-top: 0.7em;
    padding: 0.5em;

    .btn.btn-primary {
      margin-top: 1em;
    }

    li label {
      font-weight: normal;
      &:hover {
        cursor: pointer;
      }
    }
  }

  a#exportButton {
    padding: 10px 15px;
    display: block;

    &:hover {
      background-color: #eee;
      text-decoration: none;
    }
  }
}

