h2 {
  color: #DE6020;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 3px;
  margin-top: 3px;
}

h1 {
  font-size: 24px;
  line-height: 30px;
  color: #404040;
}

.navbar {
  background-color: #ffffff;
}

.blueline {
  height: 25px;
}

#main, #main-container {
  margin-top: 140px;
}

#tufts-searchbar {
  background-color: #eeeeee;
  height: 45px;
}

@media (min-width: 768px) {
  .navbar-form {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    width: 500px;
    padding-top: 5px;
  }
}

.main-header {
  border-bottom: 1px solid #999999;
  margin-bottom: 3px;
  margin-top: 2px;
}

.tdl-content {
  min-height: 400px;
}