h2 {
  color: #DE6020;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 3px;
  margin-top: 3px;
}

h1 {
  font-size: 24px;
  line-height: 30px;
  color: #404040;
}

.navbar {
  background-color: #ffffff;
}

#tufts-searchbar {
  background-color: #eeeeee;
  height: 45px;
  /** The searchbar is off-center by 40px for some reason. **/
  padding-left: 40px;
}

@media (min-width: 768px) {
  .navbar-form {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    width: 500px;
    padding-top: 5px;
  }
}

.main-header {
  border-bottom: 1px solid #999999;
  margin-bottom: 3px;
  margin-top: 2px;
}

.tdl-content {
  min-height: 400px;
}

/** Metadata Pane -  Travis **/
.tdl-show-image {
  margin-top: 14px;

  .image_border {
    border: 1px solid black;
} }
.metadatapane {
  dt, p {
    margin-top: 12px;
  }

  dd {
    margin-left: 15px;
  }

  .dl-horizontal dt {
    text-align: left;
    width: 60px;
    margin-top: 0;
  }

  .well {
    margin-top: 21px;
} }

/** Header stuff - Travis **/
#header-navbar {
  .container {
    padding-left: 30px;
    padding-right: 30px;
} }
/* General styls for all the right-side navs */
.tdl-right-nav {
  list-style-type: none;

  li {
    float: right;
    margin-left: 14px;
} }
/* Log In/My List menu */
.util-nav {
  margin: 0;

  li {
    margin-left: 21px;

    a {
      color: #FFF;
      font-size: 12px;
  } }

  .glyphicon-shopping-cart {
    color: #FFF;
    margin-left: 3px;
} }
/* Main nav (above comment button) */
.navbar-right .tdl-right-nav {
  display: block;

  li {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 7px;

    a {
      color: #000;
} } }
/* Comment button */
#comment-button {
  margin-left: 0;
  margin-bottom: 0;
  padding: 2px 7px;

  background-color: $tufts_blue;
  color: #fff;
  font-size: 12px;

  .glyphicon {
    margin-left: 3px;
} }
/* Search bar in show view - download links and back to search link */
.tdl-search-widgets {
  margin-top: 11px;
}

/**
 The correct alignment of #main to #tufts-searchbar is dependent on the top margin
 of the search form, so when you take the form away, the alignment is off.
 This swaps the margin from the form to #main, so it always aligns.
 **/
.search-query-form {
  margin-top: 0;
}
#main {
  margin-top: 132px;
}




/*  Not sure yet where the styles below this comment should go.  Still need to figure that out...  */

/*  This came from tdl-bootstrap-overrides.css.  */
.smalltext{ font-size:11px; }

/*  This came from bootstrap.css  */
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}
