h2 {
  color: #DE6020;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 3px;
  margin-top: 3px;
}

h1 {
  font-size: 24px;
  line-height: 30px;
  color: #404040;
}

.navbar {
  background-color: #ffffff;
}

#main, #main-container {
  margin-top: 140px;
}

#tufts-searchbar {
  background-color: #eeeeee;
  height: 45px;
}

@media (min-width: 768px) {
  .navbar-form {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    width: 500px;
    padding-top: 5px;
  }
}

.main-header {
  border-bottom: 1px solid #999999;
  margin-bottom: 3px;
  margin-top: 2px;
}

.tdl-content {
  min-height: 400px;
}

/** Metadata Pane -  Travis **/
.tdl-show-image {
  margin-top: 14px;

  .image_border {
    border: 1px solid black;
  }
}
.tdl-search-widgets {
  margin-top: 10px;
}
.metadatapane {
  dt, p {
    margin-top: 12px;
  }

  dd {
    margin-left: 15px;
  }

  .dl-horizontal dt {
    text-align: left;
    width: 60px;
    margin-top: 0;
  }

  .well {
    margin-top: 21px;
  }
}

/** Header stuff - Travis **/
.util-nav {
  list-style-type: none;
  margin: 0;

  li {
    margin-right: 21px;
    float: right;

    a {
      color: #FFF;
      font-size: 12px;
  } }

  .glyphicon-shopping-cart {
    color: #FFF;
    padding-left: 3px;
  }
}

/**
 The correct alignment of #main to #tufts-searchbar is dependent on the top margin
 of the search form, so when you take the form away, the alignment is off.
 This swaps the margin from the form to #main, so it always aligns.
 **/
.search-query-form {
  margin-top: 0;
}
#main {
  margin-top: 132px;
}




/*  Not sure yet where the styles below this comment should go.  Still need to figure that out...  */

/*  This came from tdl-bootstrap-overrides.css.  */
.smalltext{ font-size:11px; }

/*  This came from bootstrap.css  */
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}
